html, body {
    margin: 0;
    padding: 0;
    background: #555;
    font-family: sans-serif;
  }
  
  #globe {
    cursor: move;
    margin-right: 25%;
    margin-top: 3%;
  }
  
  #current {
    position: absolute;
    color: white;
    margin-left: 4%;
  }

  header {
    text-align: center;
    font-size: 40px;

  }
  